<div class="wrapper">
    <h1 style="background: black">Sujet</h1>
    <div class="main-agileinfo">
        <div class="agileits-top">
            <form>
                <input class="text" type="text" name="Username" placeholder="Firstname" required="">
                <br><br>
                <input class="text" type="text" name="titre" placeholder="Titre" required="">

                <br><br>
                <input class="text" type="text" name="description" placeholder="description" required="">
                <select class="text">
                  <option>OUI</option>
                  <option>NON</option>
                </select>
                <input type="submit" value="SIGNUP">
            </form>
        </div>
    </div>

</div>