<nav class="navbar navbar-light bg-light" style="margin-bottom: 0px;">
    <span class="navbar-brand mb-0 h1">Les sujet</span>
</nav>
<div class="wrapper">

    <nav id="sidebar">

        <ul class="list-unstyled components">
            <li class="active">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Authentifier</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li>

                        <a [routerLink]="['/dashboard/add']">Ajout Sujet</a>
                    </li>
                    <li>
                        <a [routerLink]="['/dashboard/show']">Affiche sujet</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
    <div class="content">
        <router-outlet></router-outlet>
    </div>

</div>